html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    justify-content: left;
    scroll-behavior: smooth;
    background: radial-gradient( red, white, blue);
}

.redes {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 95px;
    top: 20px;
    left: 25px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid rgb(30, 216, 216);

    z-index: 1;

}
a {
    text-decoration: none;
}
.fa-instagram {
    background-image: linear-gradient(to bottom,purple, red, orange, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.navegador{
    position: fixed;
    top: 25%;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    height: 50vh;
    border-radius: 25px;
    border: 2px solid rgb(30, 216, 216);

    z-index: 1;
}
.navegador a:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 170);
    transition: background-color 0.5s linear;
}

 
.navegador a#sobremi-estilo:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 170);
    transition: background-color 0.5s linear;
    border-radius: 23px 23px 0px 0px;
}

.navegador a#estudios-estilo:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 170);
    transition: background-color 0.5s linear;
    border-radius: 0px 0px 23px 23px;
}
.navegador a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color:blueviolet;
    width: 100%;
    height: 100%;
    text-decoration: none;
    
}

nav.objetivo {
    position: sticky;
    top: 0;
    display: flex;
    height: 300vh;
    width: 100%;
    flex-direction: column;
    padding-left:144px ;

}
#proyectos-estilo {
    border-top: 2px solid rgb(0, 255, 170);
    border-bottom: 2px solid rgb(0, 255, 170);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;

}

section:hover {
    background-color: rgb(74, 168, 175);
    transition: background-color ease 2s;
}

.danyimg {
    display: flex;
    height: 200px;
    border-radius: 25px;
}

.danyimg:hover {
    transform: scale(1.1);
    transition: transform linear 0.4s;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fa-facebook {
    color: blue;
}

#inicio {
    display: flex;
    flex-direction: column;
}